@charset "UTF-8";
// setting scss

// font相关
//-----------------------------------------------------
$baseFontSize:          14px !default;
$baseLineHeight:        1 !default;
$baseFontFamily:        "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif !default;
$baseColor:             #333 !default;
$basePlaceholderColor:  #a6a6a6 !default;
$baseAColor:            #666 !default;
